# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ========================== #
# binarios do projeto em c#  #
# ========================== #
examples/PathfindingAStar/PathfindingAStar/bin
examples/AnaliseDosBlocos/AnaliseDosBlocos/bin
examples/GameBalance/GameBalance/bin
RemovedorDeLogs/bin/
RemovedorDeLogs/entrada/
RemovedorDeLogs/saida/
RemovedorDeLogs/logging.log